#head{
    background-color: #9fb2c6;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
    
}
#registration-form{
    background-color: #d9e1ec;
    padding: 20px;
    width: 40%;
    margin: 30px 30%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
}
#register{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
}
#submit-btn{
    grid-column: span 2;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#submit-btn:hover{
    background-color: #45a049;
}
