* {
  margin: 0%;
  color: green;
  font-family: "Courier New", Courier, monospace;
}
nav{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 20px 0;
    font-size: 20px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    list-style: none;
}

main {
  /* padding: 0px 0 0px 30px; */
  width: 100%;
}
section {
  padding: 10px 0px 10px 0px;
}
#heading h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 36px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
#about-me,
#skills
#education,
#projects,
#contact {
  font-size: x-large;
  /* font-family: Arial, sans-serif; */
  width: 100%;
  height: 400px;
  padding: 20px;
  /* background-color: grey; */
}
#skills h2,
#about-me h2,
#education h2,
#projects h2,
#contact h2 {
  text-align: center;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
#skills ul {
  text-align: center;
  list-style-type: square;
  font-size: 18px;
  line-height: 1.6;
  /* font-family: Arial, sans-serif; */
}
#skills li {
  display: inline;
  padding: 0px 15px 0px 15px;
}
#education table {
  width: 50%;
  /* border-collapse: collapse; */
  /* font-family: Arial, sans-serif; */
  font-size: 18px;
  text-align: center;
  margin: 0 25% 0 25%;
}
#projects ol {
  /* font-family: Arial, sans-serif; */
  font-size: 18px;
  padding: 0px 20%;
}
#contact form {
  text-align: center;
  /* font-family: Arial, sans-serif; */
  font-size: 18px;
}
input,
textarea {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  background-color: gray;
}
