* {
  margin: 0%;
  color: green;
  font-family: "Courier New", Courier, monospace;
}
hr{
    border: 1px solid green;
}
nav{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    padding: 20px 0;
    font-size: 20px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    list-style: none;
    border: 1px solid green;
}

main {
  /* padding: 0px 0 0px 30px; */
  width: 100%;
}
section {
  padding: 10px 0px 10px 0px;
}
#heading h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 36px;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
#about-me,
#education,
#projects,
#contact {
  font-size: x-large;
  /* font-family: Arial, sans-serif; */
  width: 100%;
  height: 400px;
  /* padding: 20px; */
  /* background-color: grey; */
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
  flex-direction: column ;

}
#skills h2,
#about-me h2,
#education h2,
#projects h2,
#contact h2 {
    font-size: x-large1;
  text-align: center;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}
#skills ul {
  text-align: center;
  list-style-type: square;
  font-size: 18px;
  line-height: 1.6;
  /* font-family: Arial, sans-serif; */
}
#skills li {
  display: inline;
  padding: 0px 15px 0px 15px;
}
#education table {
  width: 50%;
  /* border-collapse: collapse; */
  /* font-family: Arial, sans-serif; */
  font-size: 18px;
  text-align: center;
  margin: 0 25% 0 25%;
}
#projects ol {
  /* font-family: Arial, sans-serif; */
  font-size: 18px;
  padding: 0px 20%;
}
#contact form {
  text-align: center;
  /* font-family: Arial, sans-serif; */
  font-size: 18px;
}
input,
textarea {
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  background-color: gray;
}
img{
    border-radius: 30%;
    width: 10%;
    /* width: 20%; */
    margin: 2% 45% 0 45%;

}
img:hover{
    transform: scale(1.1);
    transition: transform 0.3s; 
    /* box-shadow: 0 0 10px green; */
}
form input[type="text"],
form input[type="email"],
form textarea { 
    border-radius: 2%;
    padding: 5px;}

#submit{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#skills ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;  
    padding: 10px 20%;
    justify-content: center;
}
#skills li {
    border: 1px solid green;
    border-radius: 20%;
    width: 50%;
   
}