body{
    background-color: rgb(53, 60, 199);
}



#head{
    /* background-color: pink; */
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 50%;
    margin: auto 25%;
    border-radius: 10px;
    color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#registration-form{
    background-color: pink;
    padding: 20px;
    width: 30%;
    margin: 7% 35%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: grid;
}
#registration-form h2{
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
#registration-form p{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#register{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-around;
    gap: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5%;
    text-decoration: bold;
}
#register input[type="text"],
#register input[type="email"],
#register input[type="password"],
#register input[type="date"]{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}
#register input[type="text"]:active,
#register input[type="email"]:active,
#register input[type="password"]:active,
#register input[type="date"]:active{
    border-color: #4CAF50;
    outline: none;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    transform: scale(1.02);
    transition: transform 0.2s ease-in-out;
}
#submit-div{
    text-align: center;
    margin-top: 20px;
}
#submit-btn{
    grid-column: span 2;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
#submit-btn:hover{
    background-color: #45a049;
    transform: scale(1.05);
    transition: all 0.3s ease;
}
